VimaruUWP/SampleData/MainPageSampleDataSource/MainPageSampleDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Blend.SampleData.MainPageSampleDataSource" targetNamespace="Blend.SampleData.MainPageSampleDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="MainPageSampleDataSource" type="tns:MainPageSampleDataSource" />
  <xs:complexType name="MainPageSampleDataSource">
    <xs:sequence>
      <xs:element name="DSNamHoc" type="tns:DSNamHoc" />
    </xs:sequence>
    <xs:attribute name="HoTen" type="xs:string" />
    <xs:attribute blend:Format="Date" name="NgaySinh" type="xs:string" />
    <xs:attribute name="Lop" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="DSNamHoc">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="DSNamHocItem" type="tns:DSNamHocItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DSNamHocItem">
    <xs:sequence>
      <xs:element name="DSMonHoc" type="tns:DSMonHoc" />
    </xs:sequence>
    <xs:attribute name="TB" type="xs:double" />
    <xs:attribute name="Ten" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="DSMonHoc">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="DSMonHocItem" type="tns:DSMonHocItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DSMonHocItem">
    <xs:attribute name="TenMon" type="xs:string" />
    <xs:attribute name="TCHT" type="xs:double" />
    <xs:attribute name="X" type="xs:double" />
    <xs:attribute name="Y" type="xs:double" />
    <xs:attribute name="Z10" type="xs:double" />
    <xs:attribute name="Z4" type="xs:double" />
    <xs:attribute name="DiemChu" type="xs:double" />
    <xs:attribute name="MaMon" type="xs:double" />
  </xs:complexType>
</xs:schema>